@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
/* .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
} */
.navbar h1 {
  color: #f1356d;
}

.navbar .navbar-brand{
  color: #f1356d;
  font-weight: 600;
  font-size: 2rem;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  /* margin-left: 16px; */
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  /* color: #f1356d; */
}

.blog-posted-msg{
  padding: 25px;
  text-align: center;
  color: #fafafa;
  background-color: #b10533;
}

.empty-box-error-msg{
  margin-top: 10px;
  text-align: left;
  color: #b10533;
}
/* .content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} */

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.delete-blog-btn{
  background-color: #f1356d;
  padding: 10px;
  color: #fff;
  border: none;
}

main h1{
  color: #f1356d;
}

main p{
  color: #fff;;
}

.delete-blog-btn:hover{
  background-color: #b10533;
  cursor: pointer;
}

.blog-preview a{
  text-decoration: none;

}
.blog-preview h3 span{
  text-decoration: none;
  color: #b10533 !important;
  font-style: italic;
  font-size: medium;
}